# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.PocketTrainer.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Skylice\RiderProjects\PocketTrainer\.idea\.idea.PocketTrainer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
